

body {
    margin-top: 100px; /* Add a top margin to avoid content overlay */
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.nav-link {
    color: white;
    margin: 15px;
    padding: 10px;
}

.nav-link:hover {
    color: white;
    filter: brightness(10%);
}

.nav-item {
    background-color: #C8BB66;
    border-radius: 5px !important;
}

.nav-item:hover {
    background-color: #C8BB66;
    filter: brightness(75%);
}

.btn-secondary {
    background-color: #C8BB66;
    filter: brightness(75%);
}